<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>ログイン</title>

  <%- include("../_share/favicon.ejs") %>
  <%- include("../_share/stylesheets.ejs") %>
</head>

<body>
  <header class="text-center">
    <p>ログイン</p>
  </header>

  <main role="main" class="container">
    <div class="main-image">
      <img src="/images/login.png">
    </div>

    <div class="row justify-content-center">
      <form method="POST" action="/auth/login" class="form">
        <input type="text" id="username" name="username" class="form-control mb-3" placeholder="メールアドレス" />
        <input type="password" id="password" name="password" class="form-control mb-3" placeholder="パスワード" />
        <input type="submit" class="btn btn-secondary" value="ログイン" />
        <% if (message && message.length !== 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
      </form>
    </div>

  </main>

  <%- include("../_share/javascripts.ejs") %>
</body>

</html>