<ul class="nav nav-tabs" color="#00CED1">
  <li class="nav-item">
    <a class="nav-link icon-color" href="/history"><i class="fas fa-home fa-2x"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link icon-color" href="/regist"><i class="fas fa-edit fa-2x"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link icon-color" href="/payoff"><i class="fas fa-calculator fa-2x"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link icon-color" href="/auth/profile"><i class="fas fa-bars fa-2x"></i></a>
  </li>
</ul>