body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

header {
  display: table;
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100%;
  height: 15%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
  background-color: #56585a;
}

header > p {
  display: table-cell;
  vertical-align: middle;
  color: white;
}

main {
  margin-top: 25%;
  max-height: 100rem;
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

footer {
  height: 80px;
  margin-bottom: 40%;
}

img {
  max-width: 100%;
}

.chartArea {
  width: 85vw;
}

.full {
  width: 100%;
}

.form {
  width: 85vw;
}

.main-image {
  width: 90%;
  margin-bottom: 10%;
}

form > input, select {
  width: 100%;
  color: #333435;
  font-size: 20px;
  border-color: #dee2e6!important;
}

div > input {
  text-align: left;
  border: none;
}

input {
  text-align: center;
  border-width: 0 0 1px;
}

select {
  background-color: white;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  padding-left: 40%;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.half {
  width: 50%;
}

.in-text {
  width: 100%;
}

.card-icon {
  width: 25%;
}

.nav-tabs {
  display: flex;
  justify-content: space-evenly;
  line-height: 80px;
}

.btn-main {
  background-color: #696d70;
}

.icon-color {
  color: #5d6266;
}